<app-navbar></app-navbar>
<div class="container">
  <h2>Illustrations</h2>
  <div class="container-illus">
    <div class="imagen">
      <img src="../../assets/img/work/pikachu.jpg" alt="Pikachu Van Gogh" class="imagen"/>
    </div>
    <div class="description">
        <h3>Pikachu Van Gogh</h3>
        <p>Breve description</p>
        <p><b>Usos</b></p>
        <div class="icons">
            <img src="../../assets/img/icons/illustrator.png" title="Illustrator" alt="Illustrator">
        </div>
    </div>
  </div>
  <div class="container-illus">
    <div class="imagen">
      <img src="../../assets/img/work/pikachu.jpg" alt="Pikachu Van Gogh" class="imagen"/>
    </div>
    <div class="description">
        <h3>Pikachu Van Gogh</h3>
        <p>Breve description</p>
        <p><b>Usos</b></p>
    </div>
  </div>
  <div class="container-illus">
    <div class="imagen">
      <img src="../../assets/img/work/pikachu.jpg" alt="Pikachu Van Gogh" class="imagen"/>
    </div>
    <div class="description">
        <h3>Pikachu Van Gogh</h3>
        <p>Breve description</p>
        <p><b>Usos</b></p>
    </div>
</div>
<app-footer></app-footer>
