<app-navbar></app-navbar>
<div class="container">
  <h2>Illustrations</h2>
  <div class="container-illus">
    <div class="imagen">
      <img src="../../assets/img/work/pikachu.jpg" alt="Pikachu Van Gogh" class="imagen"/>
    </div>
    <div class="description">
        <h3>Pikachu Van Gogh</h3>
        <p>La ilustración está inspirada en el dibujo animado "Pokemon" y la recreación de una obra de
          Van Gogh. Se han elegido estos dos elementos en base a mi gusto desde pequeña y la
          nostalgia con este anime. El arte de Van Gogh que en lo personal me gusta mucho como su
          noche estrellada y el campo de girasoles. No hace mucho se hizo una exposición temporal
          en Ámsterdam, sobre una colaboración de el arte de Van Gogh junto a Pokémon, en el cual
          se hizo muy popular la ilustración de "Pikachu" como si fuera un retrato del mismo Van
          Gogh además con el mismo estilo. Al ver esta exposición siendo muy popular por las redes
          he decidido hacer una ilustración de ello representandolo.</p>
        <p><b>Creado con:</b></p>
        <div class="icons">
            <img src="../../assets/img/icons/illustrator.png" title="Illustrator" alt="Illustrator">
        </div>
    </div>
  </div>
  <div class="container-illus">
    <div class="imagen">
      <img src="../../assets/img/work/thehobbit.png" alt="thehobbit" class="imagen"/>
    </div>
    <div class="description">
        <h3>Portada The Hobbit</h3>
        <p>Se creó una portada de libro "THE HOBBIT" en el cual se basa en la intención de crear
          una imagen visualmente impactante y llena de
          emoción, por eso se utilizo la armonía de color de
          alta saturación. Los colores saturados añaden
          intensidad y drama a la escena, transmitiendo la
          emocionante confrontación entre Bilbo y Smaug.
          La saturación crea una sensación de urgencia y
          destaca la importancia crítica de este momento
          en la narrativa</p>
        <p><b>Creado con:</b></p>
        <div class="icons">
        <img src="../../assets/img/icons/photoshop.png" title="Photoshop" alt="Photoshop">
        </div>
    </div>
  </div>
  <div class="container-illus">
    <div class="imagen">
      <img src="../../assets/img/work/neobis2.png" alt="neobis" class="imagen"/>
    </div>
    <div class="description">
        <h3>Neobis Concurso</h3>
        <p>Se participó en un concurso para una portada en el cual la idea principal era demostrar el primer contacto de la
          inteligencia artificial y el humano con respecto al mundo
          gráfico ilustrando las manos, el fondo de la portada
          representa el mundo de la inteligencia artificial basada en
          código binario y el del humano una paleta de colores que
          hace referencia al su lado creativo.</p>
        <p><b>Creado con:</b></p>
        <div class="icons">
          <img src="../../assets/img/icons/illustrator.png" title="Illustrator" alt="Illustrator">
      </div>
    </div>
</div>
<app-footer></app-footer>
