<div class="container">
    <h2 id="About">About me</h2>
<div class="container-about">

<div class="imagen-me">
    <img src="../../assets/img/flor.jpg" alt="Flor">
</div>
<div class="text">
<p>¡Saludos! Soy Florencia, una apasionada del diseño gráfico y la programación. Con una mente creativa y una sólida habilidad técnica, 
    me dedico a fusionar el arte visual con la funcionalidad digital.
    Mi objetivo es crear experiencias digitales cautivadoras y funcionales que dejen una impresión duradera. </p>
    <p><b>Skills:</b></p>
    <div class="icons">
        <img src="../../assets/img/icons/angular.png" title="Angular" alt="Angular">
        <img src="../../assets/img/icons/React.png" title="React" alt="React">
        <img src="../../assets/img/icons/java.png" title="Java" alt="Java">
        <img src="../../assets/img/icons/php.svg" title="PHP" alt="Php">
        <img src="../../assets/img/icons/c-sharp.png" title="C#" alt="C#">
        <img src="../../assets/img/icons/go.png" title="GO" alt="Go">
        <img src="../../assets/img/icons/javascript.png" title="Javascript" alt="Javascript">
        <img src="../../assets/img/icons/html.png" title="HTML" alt="Html">
        <img src="../../assets/img/icons/CSS.png" title="CSS" alt="Css">
        <img src="../../assets/img/icons/photoshop.png" title="Photoshop" alt="Photoshop">
        <img src="../../assets/img/icons/illustrator.png" title="Illustrator" alt="Illustrator">
        <img src="../../assets/img/icons/indesign.png" title="Indesign" alt="Indesign">
    </div>

    </div>
</div>
</div>