<div class="container">
  <h2 id="About">About me</h2>
  <div class="container-about">
    <div class="imagen-me">
      <img src="../../assets/img/flor.jpg" alt="Flor" />
      <div class="cv">
      <a
      class="btn"
      href="../../assets/CV_Sandoval_FlorenciaMacarena.pdf"
      download="CV_Sandoval_FlorenciaMacarena.pdf"
      >RESUME</a
    >
  </div>
    </div>
    <div class="text">
      <p>
        <b style="font-size: 30px;">¡Hola!</b> Soy Florencia, una apasionada estudiante de diseño web y
        programación front-end con experiencia en el desarrollo de software.
        Desde que descubrí mi fascinación por la tecnología y el diseño, me he
        dedicado a explorar y dominar las herramientas y lenguajes necesarios
        para dar vida a mis ideas en la web.
      </p>
      <p>
        Mi enfoque se centra en fusionar la estética con la usabilidad, creando
        interfaces intuitivas que no solo sean visualmente atractivas, sino
        también eficientes y accesibles para todos los usuarios. Me encanta
        experimentar con nuevas tecnologías y tendencias de diseño para
        mantenerme actualizada y ofrecer soluciones innovadoras a los desafíos
        que enfrento.
      </p>
      <p>
        He trabajado en el desarrollo de aplicaciones y sitios web, y estoy
        constantemente ampliando mis habilidades y conocimientos a través de
        proyectos personales.
      </p>
      <p>
        Me apasiona trabajar en equipo y colaborar con otros profesionales para
        llevar nuestras ideas al siguiente nivel. Estoy emocionada por seguir
        aprendiendo y creciendo en este apasionante campo, y estoy ansiosa por
        enfrentar nuevos desafíos y oportunidades que me permitan continuar
        desarrollando mi carrera como diseñadora web y desarrolladora front-end.
      </p>
      <p><b>Skills:</b></p>
      <div class="icons">
        <img
          src="../../assets/img/icons/angular.png"
          title="Angular"
          alt="Angular"
        />
        <img src="../../assets/img/icons/React.png" title="React" alt="React" />
        <img src="../../assets/img/icons/java.png" title="Java" alt="Java" />
        <img src="../../assets/img/icons/php.svg" title="PHP" alt="Php" />
        <img src="../../assets/img/icons/c-sharp.png" title="C#" alt="C#" />
        <img src="../../assets/img/icons/go.png" title="GO" alt="Go" />
        <img
          src="../../assets/img/icons/javascript.png"
          title="Javascript"
          alt="Javascript"
        />
        <img src="../../assets/img/icons/html.png" title="HTML" alt="Html" />
        <img src="../../assets/img/icons/CSS.png" title="CSS" alt="Css" />
        <img
          src="../../assets/img/icons/photoshop.png"
          title="Photoshop"
          alt="Photoshop"
        />
        <img
          src="../../assets/img/icons/illustrator.png"
          title="Illustrator"
          alt="Illustrator"
        />
        <img
          src="../../assets/img/icons/indesign.png"
          title="Indesign"
          alt="Indesign"
        />
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
