.container{
    font-family: Poppins;
    color: #fff;
    height: auto;
    background-color:#0c0c0c;

    
}

.container h2{
    padding: 10px;
    padding-top: 5%;
    text-transform: uppercase;
    font-size: 35px;
}

.container .container-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .container-form input{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}

.container .container-form .textarea textarea{
    display: block;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    resize: none;
}

.container .container-form form .enviar{

    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
   display: block;
    
} 

.container .container-form form .enviar input{
    width: 50%;
    background-color:#0c0c0c;
    font-family: Poppins;
    color: #fff;
    border: 1px solid #fff;
   padding: 10px;
   margin: 20px;
 
} 


.container .container-form form .enviar input:hover{
   
    background-color:deeppink;
    color: #000;
    transition: 0.3s;
   
} 

.container .container-form form label{
   padding:10px;

 
} 
.agreed{
    font-size: 25px;
    width: 100%;
    
    justify-content: center;
    align-items: center;
    text-align: center;
}