<script src="./validacion_formulario.js"></script>

<div class="container">
   <h2>Contact</h2> 
   <p class="agreed">
      ¡Gracias por visitar mi portfolio y espero tener la oportunidad de colaborar contigo en el futuro!
   </p>
   <div class="container-form">
      <form action="mailto:florenciamacarenasandoval@gmail.com" method="post" enctype="text/plain">
         <label id="Nombre" for="">Name</label>
         <input id="Nombre" class="input" type="text" formControlName="name" placeholder="Name">
         <label  id="mail"for="">Email</label>
         <input class="input" id="mail" type="email" formControlName="email"  placeholder="Email" required >
         <div class="textarea">
            <label id="Mensaje" for="Mensaje">Comment</label>
            <textarea id="Mensaje" name="Mensaje" cols="80" rows="10" required></textarea>
         </div>
         <div class="enviar" id="contactar" >
            <input type="submit" name="" id="">
            <!-- <input onclick=(validar_formulario()) type="submit" name="" id=""> -->
         </div>
      </form>
      
   </div> 
</div>

<app-footer></app-footer>