<div class="container">
  <h2>Graphic Designs</h2>
  <div class="container-designs">
    <div class="imagen">
      <img src="../../assets/img/work/acdc.jpg" alt="Portada" class="imagen" />
    </div>
    <div class="description">
      <h3>Portada de revista</h3>
      <p>
        La maquetación de la portada de la revista en InDesign para promocionar
        la gira de AC/DC en 2024 debería ser audaz, dinámica y emocionante,
        capturando la esencia del rock and roll y generando anticipación entre
        los lectores para el evento.
      </p>
      <p><b>Creado con:</b></p>
      <div class="icons">
        <img
          src="../../assets/img/icons/indesign.png"
          title="Indesign"
          alt="Indesign"
        />
      </div>
    </div>
  </div>
  <div class="container-designs">
    <div class="imagen">
      <img
        src="../../assets/img/work/jardin.png"
        alt="jardin Dulce"
        class="imagen"
      />
    </div>
    <div class="description">
      <h3>jardin Dulce</h3>
      <p>
        Desarrollo con el fin de obtener habilidades de diseño gráfico aplicando
        conceptos de marketing es esencial para crear una identidad visual
        efectiva para una marca local, explorando las causas de este
        acontecimiento. Además, se proposó crear una nueva identidad visual para
        revitalizar y posicionar la marca de manera renovada.
      </p>
      <p><b>Creado con:</b></p>
      <div class="icons">
        <img
          src="../../assets/img/icons/illustrator.png"
          title="Illustrator"
          alt="Illustrator"
        />
      </div>
    </div>
  </div>
  <div class="container-designs">
    <div class="imagen">
      <img
        src="../../assets/img/work/tipografia.png"
        alt="Tipografia Brote"
        class="imagen"
      />
    </div>
    <div class="description">
      <h3>Brote font</h3>
      <p>
        La creación de una tipografía con detalles de brotes de flores en las
        líneas de cada letra aporta un toque único y distintivo a cualquier
        proyecto de diseño. Este enfoque combina la elegancia y la creatividad
        de las formas florales con la legibilidad y funcionalidad de la
        tipografía.
      </p>
      <p><b>Creado con:</b></p>
      <div class="icons">
        <img
          src="../../assets/img/icons/illustrator.png"
          title="Illustrator"
          alt="Illustrator"
        />
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
