<div class="container">
    <h2>Graphic Designs</h2>
    <div class="container-web">
      <div class="imagen">
        <img src="../../assets/img/work/pikachu.jpg" alt="Pikachu Van Gogh" class="imagen"/>
      </div>
      <div class="description">
          <h3>Pikachu Van Gogh</h3>
          <p>Breve description</p>
          <p><b>Usos</b></p>
      </div>
    </div>
    <div class="container-web">
      <div class="imagen">
        <img src="../../assets/img/work/pikachu.jpg" alt="Pikachu Van Gogh" class="imagen"/>
      </div>
      <div class="description">
          <h3>Pikachu Van Gogh</h3>
          <p>Breve description</p>
          <p><b>Usos</b></p>
      </div>
    </div>
    <div class="container-web">
      <div class="imagen">
        <img src="../../assets/img/work/pikachu.jpg" alt="Pikachu Van Gogh" class="imagen"/>
      </div>
      <div class="description">
          <h3>Pikachu Van Gogh</h3>
          <p>Breve description</p>
          <p><b>Usos</b></p>
      </div>
  </div>
  