<div class="container">
  <h2>Graphic Designs</h2>
  <div class="container-web">
    <div class="imagen">
      <img
        src="../../assets/img/work/diseño.png"
        alt="Space bunny"
        class="imagen"
      />
    </div>
    <div class="description">
      <h3>Space Bunny</h3>
      <p>
        Red social que proporciona un espacio digital dinámico y colaborativo
        que fomenta la interacción social y la expresión personal. Al permitir a
        los usuarios registrarse, subir contenido y participar en salas de chat,
        se promueve la creación de una comunidad en línea vibrante y diversa.
        Los usuarios pueden compartir sus intereses, opiniones y experiencias,
        lo que facilita el establecimiento de conexiones significativas y el
        intercambio de conocimientos. Además, la inclusión de una sala de chat
        en tiempo real añade un elemento de inmediatez y espontaneidad,
        permitiendo a los usuarios interactuar de manera más directa y fluida
      </p>
      <p><b>Creado con:</b></p>
      <div class="icons">
        <img src="../../assets/img/icons/go.png" title="GO" alt="GO" />
        <img src="../../assets/img/icons/React.png" title="React" alt="React" />
      </div>
    </div>
  </div>

  <div class="container-web">
    <div class="imagen">
      <img
        src="../../assets/img/work/imobiliaria.png"
        alt="Top Home"
        class="imagen"
      />
    </div>
    <div class="description">
      <h3>Top Home</h3>
      <p>
        Esta página web de Imobiliaria proporciona una plataforma digital accesible y
        conveniente para que los clientes puedan explorar las propiedades
        disponibles en el mercado inmobiliario. Al presentar una amplia gama de
        listados de propiedades, acompañados de descripciones detalladas,
        fotografías y videos, se facilita a los clientes la búsqueda y
        comparación de opciones de vivienda según sus necesidades y
        preferencias.
      </p>
      <p><b>Creado con:</b></p>
      <div class="icons">
        <img src="../../assets/img/icons/php.svg" title="Php" alt="php" />
        <img src="../../assets/img/icons/javascript.png" title="Javascript" alt="javascript" />
        <img src="../../assets/img/icons/html.png" title="HTML" alt="html" />
        <img src="../../assets/img/icons/CSS.png" title="CSS" alt="css" />
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
