.container{
  height: auto;
  background-color: #060606;
  
}

h2 {
  font-family: Poppins;
  color: #fff;
  margin-top: 4%;
  padding: 10px;
  font-size: 35px;
  text-transform: uppercase;
}

section{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  margin-left: 10%;

}

section .container-web{
  position: relative;
  display: flex;
  justify-content: left;
  align-items: left;
  margin-bottom: 1%;
  overflow: hidden;
  width: 100%;
}



.description{
  padding-left: 5%;
  padding-right: 5%;
}
.imagen img{
  width: 300px;
  margin-left: 10%;
  padding-bottom: 5%;
}


h3{
  color:#fff;
  font-family: Poppins;
  font-size: 20px;
}

p{
  color: #fff;
  font-family: Poppins;

}

.icons{
  width: 45%;
}

.icons img{
  width: 50px;
}