
<div class="container" id="works">
  <h2 id="Works">Works</h2>

  <div class="container-section">

     <a routerLink="/illustrations" class="enlace"><h3>Illustrations</h3><img src="../../assets/img/work/pikachu.jpg" alt="Pikachu Van Gogh" class="imagen" /></a>
     <a href="" class="enlace"><h3>Graphic Designs</h3><img src="../../assets/img/work/jardin.png" class="imagen" alt="Jardin dulce" /></a>
    <a href=""class="enlace"><h3>Web Designs</h3><img src="../../assets/img/work/diseño.png" class="imagen" alt="Space bunny" /></a>
  
</div>